@charset "UTF-8";
/**
* @author Benoît Vigouroux
* @site Thème pennrann
* @lastmodified 2017-02-14
*/

/* == @section Footer ==================== */

.main-footer{
	background-color: $color-primary;
	color:$color-initial;

	a {
		color:$color-initial;
	}

	.footer__col{
		@include rem(padding-top,30px);
	}

	.footer__copyright{
		text-align: center;
		background-color: $color-secondary;
		@include rem(padding,30px);
	}

	li {
		margin: 0;
		position: relative;
		list-style: none;
		padding: 0;
		display: block;
	}



	input[type='submit'],
	button {
	  @extend .button;
	  background-color: $color-tertiary
	}

	input[type='search'],
	input[type='email'] {
	  @extend input[type='search'];
	  background-color: $color-initial
	}

}
