@charset "UTF-8";
/**
* @author Benoît Vigouroux
* @site Thème pennrann
* @lastmodified 2017-02-14
*/

/* == @section Header ==================== */

.main-header{
	background-color: $color-primary;

	h1,h2, .logo {
		margin:0
	}

	.logo{
		width:100%;

		&:hover {
			.header-logo {
				opacity: 0.7
			}
		}
	}

	.header-logo {
		padding: 0.5em 0;
		width:100px;
		margin-top: 40px;
		display: inline-block;
		transition: all 250ms ease 0s;
	}
}


.wrap {
    position: relative;
}