@charset "UTF-8";
/**
* @author Benoît Vigouroux
* @site Thème pennrann
* @lastmodified 2017-02-14
*/

/* == @section Navigation ==================== */

[id="nav"] {
  min-height: em( 60 );
  position: relative;
  z-index: 5;
}



.navigation {
	background-color: $color-secondary;
	.menu {
		width: 100%;
		list-style: none;
		margin:0;

		li {
			margin: 0;
			position: relative;
			list-style: none;
			padding: 0;

			a {
			    color: $color-initial;
			    display: block;
			    padding: 1rem 0;
			    transition: all 0.25s ease-in-out 0s;
			    text-align: center;
			    text-transform: uppercase;

				&:hover {
					background-color: $color-tertiary;
				}
			}

			&.sub-menu{
				&:hover,
				&:focus
				&.hover {
					.sub-menu{
						display: block;
					}
				}
			}
		}

		ul {
			margin: 0;
			padding:0;
		}
	}

	.sub-menu{
		position: absolute !important;
	    background-clip: padding-box;
	    background-color: $color-secondary;
	    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
	    display: none;
	    float: left;
	    font-size: 14px;
	    left: 0;
	    list-style: none;
	    min-width:100%;
	    padding: 5px 0;
	    position: absolute;
	    text-align: left;
	    top: 100%;
	    z-index: 1000;

	    &.hover {
	    	display: block;
	    }

	    li {
		    height: auto;
		    width: 100%;
		    margin: 0;
		    background-color: $color-secondary;
	    }
	}
}


/* Off Canvas Menu 
https://slideout.js.org/
*/
.btn-hamburger {
    left: 30px;
    top: 20px;
}
.btn-hamburger {
    background: url("../img/ui/menu-button.svg") no-repeat scroll center center  / 40px auto;
    border: medium none;
    height: 40px;
    left: 12px;
    outline: medium none;
    position: absolute;
    top: 12px;
    width: 50px;
}


.nav {
    background: $color-secondary;
    height: 100%;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
    display: none;
    width:300px;

	ul {
	    list-style: none;
	    padding: 0;
	    margin: 0;
	}

	li {
	    background-color: $color-initial;
	    border-bottom: 1px solid #e2e4e5;
	    display: block;
	    height: 80px;
	    margin: 0;
	    transition: all 250ms ease 0s;
	}

	a {
	    display: block;
	    padding: 50px;
	    text-transform: uppercase;
	    vertical-align: middle;
	    width: 100%;
	    font-weight: 600;
	    padding: 0 20px;
	    text-decoration: none;
	    line-height: 80px;
	    color: $color-secondary;
	    font-size: 18px;
	    margin-bottom: 1px;
	    transition: all 250ms ease 0s;

	   &:hover {
			background: $color-tertiary;
			color: $color-initial;
	   }
	}
}
.offcanvas-open {
	.offcanvas-inner{
		cursor: pointer;
	}

	#offcanvas {
		display:block;
	}
}