
// Helpers classes
// ––––––––––––––––––––––––––––––––––––––––––––––––––

.inbl {
	display:inline-block;
}


@media print {    
    .print-hidden, .print-hidden *
    {
        display: none !important;
    }
}