@charset "UTF-8";
/**
* @author Benoît Vigouroux
* @site Thème pennrann
* @lastmodified 2017-02-14
*/

/* == reseaux-sociaux ==================== */

.reseaux-sociaux {
    background-color: $color-tertiary;

	ul {
	    color: $color-initial;
	    text-transform: uppercase;
	    margin:0;

		li {
		    cursor: pointer;
		    text-align: center;
		    vertical-align: middle;
		    display:inline-block;
		    color: $color-initial;
			@include rem((
				padding: 20px 30px,
				height: 130px
			));
			overflow: hidden;

			&:hover,
			&:focus{
				background-color: $color-secondary;
			}

			img,
			a img {
			    display: block;
			    transition: all 0.3s ease-in-out 0s;
				@include rem((
					margin: 0 auto 15px
				));
			}
		}
	}	
}