/*!
 * Milligram-scss v1.3.0
 * https://milligram.github.io
 *
 * Copyright (c) 2017 CJ Patoilo
 * Licensed under the MIT license
 */
 
// Color
// ––––––––––––––––––––––––––––––––––––––––––––––––––

$color-initial: #fff !default;
$color-primary: #22264B !default;
$color-secondary: #606c76 !default;
$color-tertiary: #E01A66 !default;
$color-quaternary: #d1d1d1 !default;
$color-quinary: #e1e1e1 !default;
