/*!
 * Milligram-scss v1.3.0
 * https://milligram.github.io
 *
 * Copyright (c) 2017 CJ Patoilo
 * Licensed under the MIT license
 */
 
// Divider
// ––––––––––––––––––––––––––––––––––––––––––––––––––

hr {
	border: 0;
	border-top: .1rem solid $color-tertiary;
	margin: 3.0rem 0;
}
