/*!
 * Milligram-scss v1.3.0
 * https://milligram.github.io
 *
 * Copyright (c) 2017 CJ Patoilo
 * Licensed under the MIT license
 */
 
// Image
// ––––––––––––––––––––––––––––––––––––––––––––––––––

img {
	max-width: 100%;
	height: auto;
}
