/*!
 * Milligram-scss v1.3.0
 * https://milligram.github.io
 *
 * Copyright (c) 2017 CJ Patoilo
 * Licensed under the MIT license
 */
 
// Link
// ––––––––––––––––––––––––––––––––––––––––––––––––––

a {
	color: $color-primary;
	text-decoration: none;

	&:focus,
	&:hover {
		color: $color-secondary;
	}
}
