/* Les liens d’évitement sont de la même couleur que le fond. */

.skip-to{
	left:-10000px;
	top:auto;
	width:1px;
	height:1px;
	overflow:hidden;
}

/* Au focus, ils apparaissent. */
.skip { 
	cursor: default;
	position:absolute;
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute !important;
    width: 1px;
    
    &:focus, &:active {
	    clip: auto;
	    height: auto;
	    overflow: visible;
	    position: static !important;
	    width: auto;
	    color: $color-secondary;
	}
}

.visually-hidden {
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute !important;
    width: 1px;
}

body:hover .visually-hidden a,
body:hover .visually-hidden input,
body:hover .visually-hidden button { display: none !important; } 