@charset "UTF-8";
/**
* @author Benoît Vigouroux
* @site Thème pennrann
* @lastmodified 2013-11-05
* @subsection Références :
  * @see KNACSS.com V1.1 @author : Raphael Goetter, Alsacreations
  * @see HTML5boilerplate
  * @see github.com/nathansmith/formalize
  * @see www.sitepen.com
  * @see https://github.com/HugoGiraudel/KNACSS-Sass/blob/master/sass/modules/_forms.scss @author : Hugo Giraudel pour Knacss-Sass
*/

/* ----------------------------- */
/* ==Formulaires */
/* @note : Aucun de ces éléments ne doit être modifié.
/* ----------------------------- */

form,
fieldset { @extend .b-reset; }

input,
button,
select,
label {
  @extend .alignmiddle;
  // @bugfix alignement
}

/* Éléments de formulaires */
label { cursor: pointer; }

legend {
  border: 0;
  white-space: normal;
}

button,
input,
select {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

textarea {
  min-height: 5em;
  overflow: auto; /* @bugfix
  @affected Supprime la scrollbar par défaut sur IE6/7/8/9 */
  resize: vertical;
  @extend .aligntop;
  /* Évite l’application d’une fonte monospace */
  font-family: inherit;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button; /* @ bugfix
  @affected Types d’input cliquables sur iOS */
}

input[type="checkbox"],
input[type="radio"] {
  @extend .p-reset // @bugfix
  // @affected Corrige un espace excessif sur IE8/9 */
}

input[type="search"] {
  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    display: none; /* @bugfix
    @affected 'x' apparait à droite d’un champ de recherche lorsqu’un texte est entré. Ceci le retire */
  }
}

::-webkit-input-placeholder { color: lighten( $primary-color, 10 ); }

input, textarea {
  &:-moz-placeholder {
    color: lighten( $primary-color, 10 );
  }
}

button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
  &::-moz-focus-inner {
    border: 0;
    padding: 0; /* @bugfix
    @affected Retire les marges internes et les bordures sur FF3+ */
  }
}
