/**
 * @author Benoît Vigouroux
 * @site Thème pennrann--sass
 * @lastmodified 2013-11-13
 */
/**
* @author Benoît Vigouroux
* @site Thème pennrann
* @lastmodified 2017-02-14
* @subsection Références :
  * @see KNACSS.com V1.1 @author : Raphael Goetter, Alsacreations
  * @see http://rocssti.nicolas-hoffmann.net/ @author : @Nico3333fr
*/
/* ----------------------------- */
/* ==Base */
/* @note : Aucun de ces éléments ne doit être modifié.
/* ----------------------------- */
/* Soft reset */
html,
body,
label {
  margin: 0;
  padding: 0;
}

ul,
ol,
blockquote {
  padding-left: 2em;
}

code,
pre,
samp {
  white-space: pre-wrap;
}

mark {
  font-weight: bold;
}

code {
  line-height: 1em;
}

table {
  margin-bottom: 1em;
}

.m-reset {
  margin: 0 !important;
}

.p-reset {
  padding: 0 !important;
}

.b-reset, .ir, [class^="sprite-"],
[class*=" sprite-"] {
  border: 0 !important;
}

.ul-reset {
  list-style: none !important;
}

/* Élude la fusion des marges pour les éléments imbriqués */
li p,
li ul,
li ol {
  margin-bottom: 0;
  margin-top: 0;
}

/* Balises HTML5 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
time,
nav,
section,
main {
  display: block;
}

/* Valeurs maximum */
img,
table,
td,
blockquote,
code,
pre,
textarea,
input,
video {
  height: auto;
  max-width: 100%;
}

/* Vous ne passerez pas ! */
textarea,
table,
td,
th,
code,
pre,
samp,
div {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  word-wrap: break-word;
}

/* Éviter l’interlignage disgracieux */
sup,
sub {
  vertical-align: 0;
  position: relative;
}

sup {
  bottom: 1ex;
}

sub {
  top: .5ex;
}

/* Parce que «les abbr c'est bon pour la planète» (dixit Nicolas Hoffmann dans RÖCSSTI), ceux ayant un title sont signalés */
abbr[title] {
  border-bottom: dotted 1px;
  /* La couleur est héritée du texte */
  cursor: help;
}

/* Images */
img {
  border: 1px solid #04192f;
}

.ie8 img {
  width: auto;
  /* @bugfix @affected IE8 */
}

a img {
  border: 1px solid #04192f;
}

a:focus img {
  outline: 4px solid;
}
