@charset "UTF-8";
/**
* @author Benoît Vigouroux
* @site Thème pennrann
* @lastmodified 2017-02-14
* @subsection Références :
  * @see KNACSS.com V1.1 @author : Raphael Goetter, Alsacreations
  * @see HTML5boilerplate
  * @see github.com/nathansmith/formalize
  * @see www.sitepen.com
*/

/* ----------------------------- */
/* ==Formulaires */
/* @note : Aucun de ces éléments ne doit être modifié.
/* ----------------------------- */

form,
fieldset {
  border: 0;
}

input,
button,
select,
label {
  vertical-align: middle; /* @bugfix alignement */
}

/* Éléments de formulaires */
label { cursor: pointer; }

legend {
  border: 0;
  white-space: normal;
}

button,
input,
select {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

textarea {
  min-height: 5em;
  overflow: auto; /* @bugfix
  @affected Supprime la scrollbar par défaut sur IE6/7/8/9 */
  resize: vertical;
  vertical-align: top;
  /* Évite l’aplication d’une fonte monospace */
  font-family: inherit;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button; /* @ bugfix
  @affected Types d’input cliquables sur iOS */
}

input[type="checkbox"],
input[type="radio"] {
  padding: 0; /* @bugfix
  @affected Corrige un espace excessif sur IE8/9 */
}

input[type="search"] { -webkit-appearance: textfield; }
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none; /* @bugfix
  @affected 'x' apparait à droite d’un champ de recherche lorsqu’un texte est entré. Ceci le retire */
}

::-webkit-input-placeholder { color: #777; }

input:-moz-placeholder,
textarea:-moz-placeholder  { color: #777; }

button::-moz-focus-inner,
input[type='button']::-moz-focus-inner,
input[type='reset']::-moz-focus-inner,
input[type='submit']::-moz-focus-inner {
  border: 0;
  padding: 0; /* @bugfix
  @affected Retire les marges internes et les bordures sur FF3+ */
}
