@charset "UTF-8";
/**
* @author Benoît Vigouroux
* @site Thème pennrann
* @lastmodified 2017-02-14
* @subsection Références :
  * @see : Twentythirteen
  * @see : http://twentythirteendemo.wordpress.com/
*/

/* ----------------------------- */
/* ==Navigation */
/* @note : Ici sont définis les styles de base de la navigation
/* ----------------------------- */

/* == @section Navigation ==================== */
#nav { position: relative; }

.menu li {
  display: inline-block;
  position: relative;
}

.menu li a { display: block; }
