/**
* @author Benoît Vigouroux
* @site Thème pennrann
* @lastmodified 2017-02-14
* @subsection Références :
  * @see KNACSS.com V1.1 @author : Raphael Goetter, Alsacreations
  * @see HTML5boilerplate
  * @see http://rocssti.nicolas-hoffmann.net/ @author : @Nico3333fr
*/
/* ----------------------------- */
/* ==Structure */
/* @note : Aucun de ces éléments ne doit être modifié.
/* ----------------------------- */
/* ----------------------------- */
/* Sommaire */
/* ----------------------------- */
/*
  == Modèle de boîte
  == Structure flottante
  == Structure en tableau
  == Alignements ( blocs et en ligne )
    -- Alignement horizontal
    -- Alignement vertical
  == Grilles
  == Inline-block
  == Largeurs
    -- Largeurs en %
  == Espacements
    -- Marges externes
    -- Marges internes
  == Éléments masqués
    -- Remplacement d’image
  == Orientation
*/
/* == @section Modèle de boîte ==================== */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* == @section Structure flottante ==================== */
/* Bloc capable de contenir plusieurs .mod, peut contenir des flottants */
.line, [class*="grid"] {
  overflow: hidden;
}

/* == @section Structure en tableau ==================== */
.row {
  display: table;
  table-layout: fixed;
}

.row > *,
.col {
  display: table-cell;
  padding: 1em;
}

/* Blocs qui peuvent suivre des flottants */
.clear, .line, [class*="grid"], .row, .aligncenter {
  clear: both;
}

/* Blocs qui peuvent contenir des flottants */
.clearfix:after,
.line:after,
[class*="grid"]:after,
.mod:after {
  clear: both;
  content: "";
  display: table;
}

/* == @section Alignements ( blocs et en ligne ) ==================== */
/* -- @subsection Alignement horizontal -------------------- */
/* À gauche */
.left,
.alignleft {
  float: left;
}

img.left,
img.alignleft {
  margin-right: 2em;
}

/* À droite */
.right,
.alignright {
  float: right;
}

img.right,
img.alignright {
  margin-left: 2em;
}

/* Centré */
.aligncenter {
  display: block;
}

/* Autorise les marges verticales spécifiques */
.center,
.aligncenter {
  margin-left: auto;
  margin-right: auto;
}

/* Alignement du texte */
.txtleft {
  text-align: left;
}

.txtright {
  text-align: right;
}

.txtcenter {
  text-align: center;
}

.txtjustify {
  text-align: justify;
}

/* -- @subsection Alignement vertical -------------------- */
.aligntop, .row > *,
.col, textarea {
  vertical-align: top;
}

.alignmiddle, img, input,
button,
select,
label, #site-title {
  vertical-align: middle;
}

.alignbottom, .sprite-tel {
  vertical-align: bottom;
}

/* == @section Grilles ==================== */
[class*="grid"] > * {
  float: left;
}
[class*="grid"] > * + * {
  margin-left: 3%;
}

.grid-2 > *:nth-child(2n + 3),
[class*="grid-1-1"] > *:nth-child(2n + 2),
.grid-1-1 > *:nth-child(2n + 2), .grid-3 > *:nth-child(3n + 4),
[class*="grid-1-2"] > *:nth-child(2n + 3),
.grid-2-1 > *:nth-child(2n + 3) {
  clear: left;
  margin-left: 0;
}

.grid-2 > *,
.grid-1-1 > *:first-child,
.grid-1-1 > * + * {
  width: 48.5%;
}

.grid-1-1 > *:first-child,
.grid-1-1 > * + * {
  width: 51.5%;
}

.grid-3 > *,
.grid-1-2 > *:first-child,
.grid-2-1 > * + * {
  width: 31.33333%;
}

.grid-2-1 > *:first-child,
.grid-1-2 > * + * {
  width: 65.66667%;
}

/* == @section Inline-block ==================== */
.inbl, .menu li,
.btn {
  display: inline-block;
  vertical-align: top;
}

/* == @section Largeurs ==================== */
/* -- @subsection Largeurs en % -------------------- */
.w-10 {
  width: 10%;
}

.w-20 {
  width: 20%;
}

.w-25 {
  width: 25%;
}

.w-30 {
  width: 30%;
}

.w-33 {
  width: 33%;
}

.w-40 {
  width: 40%;
}

.w-50 {
  width: 50%;
}

.w-60 {
  width: 60%;
}

.w-66 {
  width: 66%;
}

.w-70 {
  width: 70%;
}

.w-75 {
  width: 75%;
}

.w-80 {
  width: 80%;
}

.w-90 {
  width: 90%;
}

.w-100, .row {
  width: 100%;
}

/* == @section Espacements ====================
 * @note : p, m = padding, margin
 * @note : a, t, r, b, l = all, top, right, bottom, left
 * @note : Nous avons besoin des valeurs de 0 à 2 au minimum.
*/
.ma0 {
  margin: 0em;
}

.mt0 {
  margin-top: 0em;
}

.mr0 {
  margin-right: 0em;
}

.mb0 {
  margin-bottom: 0em;
}

.ml0 {
  margin-left: 0em;
}

.pa0 {
  padding: 0em;
}

.pt0 {
  padding-top: 0em;
}

.pr0 {
  padding-right: 0em;
}

.pb0 {
  padding-bottom: 0em;
}

.pl0 {
  padding-left: 0em;
}

.ma1 {
  margin: 1em;
}

.mt1 {
  margin-top: 1em;
}

.mr1 {
  margin-right: 1em;
}

.mb1 {
  margin-bottom: 1em;
}

.ml1 {
  margin-left: 1em;
}

.pa1 {
  padding: 1em;
}

.pt1 {
  padding-top: 1em;
}

.pr1 {
  padding-right: 1em;
}

.pb1 {
  padding-bottom: 1em;
}

.pl1 {
  padding-left: 1em;
}

.ma2 {
  margin: 2em;
}

.mt2 {
  margin-top: 2em;
}

.mr2 {
  margin-right: 2em;
}

.mb2 {
  margin-bottom: 2em;
}

.ml2 {
  margin-left: 2em;
}

.pa2 {
  padding: 2em;
}

.pt2 {
  padding-top: 2em;
}

.pr2 {
  padding-right: 2em;
}

.pb2 {
  padding-bottom: 2em;
}

.pl2 {
  padding-left: 2em;
}

.ma3 {
  margin: 3em;
}

.mt3 {
  margin-top: 3em;
}

.mr3 {
  margin-right: 3em;
}

.mb3 {
  margin-bottom: 3em;
}

.ml3 {
  margin-left: 3em;
}

.pa3 {
  padding: 3em;
}

.pt3 {
  padding-top: 3em;
}

.pr3 {
  padding-right: 3em;
}

.pb3 {
  padding-bottom: 3em;
}

.pl3 {
  padding-left: 3em;
}

/* == @section Éléments masqués ==================== */
.visually-hidden {
  left: -7000px;
  overflow: hidden;
  position: absolute;
}

.js .js-hidden,
.no-js .js-visible {
  display: none;
}

.js .js-visible,
.no-js .js-hidden {
  display: block;
}

/* -- @subsection Remplacement d’image -------------------- */
.ir, [class^="sprite-"],
[class*=" sprite-"] {
  background-color: transparent;
  overflow: hidden;
}
.ir:before, [class^="sprite-"]:before,
[class*=" sprite-"]:before {
  content: "";
  display: block;
  height: 100%;
  width: 0;
}

/* == @section Orientation ====================
 * @note : Corrige un bug sur les font-size lors du changement d’orientation sur iOS
*/
@media (orientation: landscape) and (max-device-width: 768px) {
  html,
  body {
    -webkit-text-size-adjust: 100%;
  }
}
