@charset "UTF-8";
/**
* @author Benoît Vigouroux
* @site Thème pennrann
* @lastmodified 2017-02-14
*/

/* ----------------------------- */
/* ==Modules */
/* @note : Cette feuille de style gère la partie personnalisation et modules ajoutés.
/* ----------------------------- */

/* ----------------------------- */
/* Sommaire */
/* ----------------------------- */
/*
  == Couleurs
  == Liens
  == Modules
  == Formulaires
  == Tableaux
  == Navigation
  == WordPress
*/


/* == @section Couleurs ==================== */
body {
  background-color: $background-color;
  color: $primary-color;
}

strong { color: $strong-color; }

.required { color: crimson; }


/* == @section Liens ====================
 * @note Signaler les liens visités, survolés, actifs, externes, vers un mail ou un pdf;
 * @note Ne surtout pas oublier le :focus, primordial pour l’accessibilité.
*/
%smooth { transition: all .3s linear; }

a {
  color: $color-secondary;
  @extend %smooth;

  &:focus,
  &:hover { color: darken( $color-secondary, 10 ); }

  &:active,
  &:visited { color: lighten( $color-secondary, 10 ); }

  &[target="_blank"]::after { content: "\21ac"; }

  &[href^="mailto:"]::before { content: "@ "; }

  &[href$=".pdf"]::after { content: "\2935"; }
}

/* Les liens d’évitement sont de la même couleur que le fond. */
.skip,
.skip:hover {
  color: $background-color;
  cursor: default;
}

/* Au focus, ils apparaissent. */
.skip.show,
.skip:focus { color: $color-secondary; }

#site-title { @extend .alignmiddle; }

.menu a {
  display: inline-block;
  padding: 1em 2em;
}

/* Zones d’action */
.action--primary { @include pennrann--action( #8dabcd, #032c36, true ); }

.action--secondary { @include pennrann--action( lighten( #c42419, 10 ), darken( #c42419, 10 ), true ); }

.action--extra { @include pennrann--action( #032c36, #04192f, true ); }


/* == @section Modules ==================== */
.page-numbers,
form li { list-style: none; }

.page-numbers li { display: inline-block; }


/* == @section Formulaires ==================== */
form label {
  display: inline-block;
  min-width: em( 200 );
}

input,
select,
textarea {
  border: 1px solid darken( $background-color, 20 );
  padding: .2em 0 .2em .2em;

  &:focus { border-color: $color-secondary; }

  &:hover,
  &:active { border-color: $primary-color; }
}

input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
select,
textarea,
button,
input[type="button"],
input[type="reset"] { min-width: em( 100 ); }


/* == @section Tableaux ==================== */
table {
  border-collapse: collapse;
  caption-side: bottom;
  display: table;
  table-layout: fixed;
  vertical-align: top;
  width: 100%;

  th,
  td {
    border-bottom: 1px solid darken( $background-color, 20 );
    padding: .5em 1em;
    text-align: left;
  }

  td { color: darken( $primary-color, 10 ); }
}

caption {
  color: darken( $primary-color, 10 );
  font-style: italic;
  padding: 1em;
}

tbody {
  border: 1px solid darken( $background-color, 20 );

  tr:nth-child(odd) { background: darken( $background-color, 10 ); }

  tr > * + * { border-left: 1px solid darken( $background-color, 20 ); }
}




/* == @section WordPress ==================== */
/*
 * @note Classes utilisées par WordPress pour afficher les images avec leurs légendes, les galeries d’images, ainsi que pour distinguer les articles mis en avant et les commentaires ajoutés par l’auteur d’un article himself.
 */
.wp-caption { border: 1px solid $light-color; }

.wp-caption-text { color: $light-color; }

.gallery-caption {}

.sticky {}

.bypostauthor {}
