@charset "UTF-8";
/**
* @author Benoît Vigouroux
* @site Thème pennrann
* @lastmodified 2017-02-14
*/

/* ----------------------------- */
/* ==Sprites */
/* @note Cette feuille de style gère les sprites.
/* ----------------------------- */

/* -- @subsection Import des images -------------------- */
/*
 * @note Compass va chercher toutes les images dans le répertoire spécifié;
 * @note Générer un sprite en PNG et mettre à disposition différents outils :
 * @see http://compass-style.org/reference/compass/helpers/sprites/
*/
@import "pennrann-/*.png";

/* -- @subsection Styles communs -------------------- */
/*
 * @note Le sprite devrait être utilisé dans le cadre d’un remplacement d’image.
*/
.pennrann--sprite {
  @extend .ir;
  display: inline-block;

  &:hover { cursor: pointer; }
}

/* -- @subsection Styles spécifiques à chaque image -------------------- */
/*
 * @note On liste en premier lieu le nom des images utilisées dans le sprite.
 * @note Puis une boucle génère les styles spécifiques à chaque image, à savoir :
 ** @note Les dimensions en EM;
 ** @note La position de l’arrière-plan en EM.
*/
$s: behance, dribble, github, google, linkedin, mail, rss, twitter;

@each $n in $s {
  $image-url:    sprite-file( $pennrann--sprites, #{$n} );
  $image-height: em( pennrann--unit( image-height( $image-url ) ) );
  $image-width:  em( pennrann--unit( image-width( $image-url ) ) );

  .pennrann--sprite__#{$n} {
    @include pennrann--em--position( $pennrann--sprites, #{$n} );
    height: $image-height;
    width: $image-width;
  }
}

/* -- @subsection Un peu de SVG, ça vous dit ? -------------------- */
/*
 * @note On ouvre une « media query » pour que IE8 ne charge pas inutilement cette portion.
 * @note Puis on applique les styles spécifiques :
  * Le fichier SVGZ (compressé) est chargé :
   * Il doit être basé sur le sprite généré par Compass en PNG;
   * doit avoir les mêmes dimensions;
   * les icônes doivent être aux mêmes positions.
  * On spécifié un background-size en EM afin de conserver les proportions intiales de l’image.
*/
@media screen {
  .pennrann--sprite {
    background-image: image-url( "pennrann--sprite.svgz" );
    @include pennrann--em--size( $pennrann--sprites, $unitless-font-size, true );
  }
}
