@charset "UTF-8";
/**
* @author Benoît Vigouroux
* @site Thème pennrann
* @lastmodified 2017-02-14
*/

/* ----------------------------- */
/* ==Typographie */
/* @note Cette feuille de stlye gère le rythme vertical, les corps et graisses de texte (niveaux de titres, texte courant, éléments particuliers…).
/* ----------------------------- */

/* ----------------------------- */
/* Sommaire */
/* ----------------------------- */
/*
  == Typographie
    -- Niveaux de titres
    -- Corps alternatifs
    -- Styles particuliers
*/


/* == @section Typographie ====================
 * @see http://www.codestyle.org/servlets/FontStack
 * @see http://ffffallback.com/
 * @see http://soqr.fr/vertical-rhythm/ @author : @eQRoeil
*/
body {
  font-family: $regular-font-stack;
  font-size: em( $unitless-font-size, 16 );
  font-size-adjust: auto;
}

/*
  Corps du texte pour le contenu,
  Préserve le rythme vertical.
*/
p,
ul,
ol,
dl,
blockquote,
pre,
td,
th,
label,
textarea {
  @include ffeeeedd--font( 16, true );
}

/* -- @subsection Niveaux de titres -------------------- */
.hn {
  -webkit-font-smoothing: antialiased;

  &:first-child {
    /* Élude la fusion des marges pour les titrailles */
    margin-top: 0;
  }
}

h1,
.h1-like {
  @include ffeeeedd--font( 96, true );
  @extend .hn;
}

h2,
.h2-like {
  @include ffeeeedd--font( 64, true );
  @extend .hn;
}

h3,
.h3-like {
  @include ffeeeedd--font( 42, true );
  @extend .hn;
}

h4,
.h4-like {
  @include ffeeeedd--font( 36, true );
  @extend .hn;
}

h5,
.h5-like {
  @include ffeeeedd--font( 24, true );
  @extend .hn;
}

h6,
.h6-like {
  @include ffeeeedd--font( 18, true );
  @extend .hn;
}


/* -- @subsection Corps alternatifs -------------------- */
small,
.small {
  @include ffeeeedd--font( 12, false );
}

.big {
  @include ffeeeedd--font( 18, false );
}


/* -- @subsection Styles particuliers -------------------- */
/*
 * @note Repris de http://tinytypo.tetue.net/
 * @author Romy Duhem-Verdière @tetue
 * @author Nicolas Hoffmann
 * @see http://www.nicolas-hoffmann.net/
 * @see http://en.wikipedia.org/wiki/International_variation_in_quotation_marks
 * @author Vincent De Oliveira
 * @see http://iamvdo.me/blog/n-oubliez-pas-la-propriete-css-quotes
 */
q {
  quotes: "\00AB\A0" "\A0\00BB" "\201C" "\201D" "\2018" "\2019";

  &:before { content: open-quote; }

  &:after { content: close-quote; }
}

blockquote {
  font-style: italic;
  padding-left: 1em;
  position: relative;
  quotes: "«\00A0" "\00A0»";
  z-index: 2;

  &:before {
    color: lighten( $primary-color, 60 );
    content: open-quote;
    font-size: 10em;
    left: 0;
    line-height: 0;
    position: absolute;
    top: 0;
    z-index: -1;
  }
}

code,
kbd,
pre,
samp {
  border: 1px solid;
  border-radius: 2px;
  color: $color-secondary;
  font-family: $monospace-font-stack;
  padding: 0 .2em;
}
