@charset "UTF-8";
@media print {
  /**
  * @author Benoît Vigouroux
  * @site Thème pennrann
  * @lastmodified 2017-02-14
  * @subsection Références :
  * @see KNACSS.com V1.1 @author : Raphael Goetter, Alsacreations
  */

  /* ----------------------------- */
  /* ==Impression */
  /* ----------------------------- */

  /* Réinitialise la couleur du texte pour accélerer l’impression
  * Supprime les ombres portées et les couleurs d’arrière-plan. */
  * {
    background-color: #fff !important;
    box-shadow: none !important;
    color: #333 !important;
    -ms-filter: none !important;
    text-shadow: none !important;
  }

  /* Supprime les éventuelles marges et largeur de <body>.
   * Fixe la taille de la police en point. */
  body {
    font-family: "Century Gothic", "Gill Sans", "Avant Garde", Avenir, sans-serif;
    font-size: 12pt;
    margin: 0 !important;
    padding: 0 !important;
    width: auto !important;
  }

  .print-hidden {
    display: none; /* Masque les éléments indésirables pour l’impression */
  }

  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  blockquote,
  ul,
  ol { margin: auto !important; }

  .print {
    display: block; /* Affiche les éléments .print */
  }

  .left,
  .right {
    display: block;
    float: none; /* Linéarise les contenus */
  }

  [class*="mw"],
  [class*="w-"] {
    width: 100%; /* Remets tous les éléments en pleine largeur */
  }

  p,
  blockquote {
    orphans: 3; /* Pas d’orphelines */
    widows: 3; /* Pas de veuves */
  }

  blockquote,
  ul,
  ol {
    page-break-inside: avoid; /* Pas de coupure dans ces éléments */
  }

  h1 {
    page-break-before: always; /* Changement de page avant la titraille principale */
  }

  h1,
  h2,
  h3,
  caption {
    page-break-after: avoid; /* Pas de coupure après ces éléments */
  }

  a {
    color: #000 !important;
    text-decoration: underline !important;
  }

  a[href]:after {
    content: " (" attr(href) ") "; /* Affiche les URLs */
  }

  a[href^="#"]:after,
  a[href^="javascript"]:after {
    content: ''; /* Masque l’URL des ancres */
  }

  abbr[title]:after {
    content: " ( " attr(title) " ) "; /* Affiche la signification des abréviations */
  }
}
